* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #62dad2, #4d8fe4);
}

.todo {
  width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.todo-title {
  margin-bottom: 10px;
}

.todo-form {
  display: flex;  
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  min-width: 80px;
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
  margin-left: 10px;
  background-color: #8e49e9;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 8px;
  background-color: #eee;
  margin-bottom: 10px;
}

.btn-remove {
  min-width: 50px;
  background-color: #e74d3d;
}